// body {
//     font: 14px "Century Gothic", Futura, sans-serif;
//     margin: 20px;
//   }
  
//   ol, ul {
//     padding-left: 30px;
//   }

$mainFont: 14px Tahoma, sans-serif;
$colorGreen: #04AA6D;
$colorCrimson: #DC143C;
$colorBlue: #1086E4;
$colorBlack: #000000;

body{
  font: $mainFont
}

menu{
  padding: 0;
  margin-left: 5px;
  a{
    &, &:link, &:visited{
      color: $colorBlack;
    }
    
  }
}

#chat-app, #bank-ui{
  margin-left: 5px;
}

header{
  text-align: center;
}

.connection-status span {
  margin-left: 5px;
  color: $colorCrimson;
  &.connected{
    color: $colorGreen;
  }
}

.message-input{
  margin-top: 50px;;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;

  fieldset{
    border: none;
    margin: 0;
    padding: 0;
    width: 220px;

    display: flex;
    flex-direction: row;
    justify-content: end;

    &:nth-of-type(2n){
      margin-top: 5px;
    }
    input{
      margin-left: 5px;
    }
  }

  button{
    margin-top: 20px;
    width: 110px;
  }
}

.recieved-messages{
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  .message{
    margin-top: 5px;
    font-size: 16px;
  }
}


.bankController fieldset{
  border: none;
  margin-top: 10px;

  &:nth-of-type(2){
    button{
      margin-left: 10px;
    }
  }
}

.bank-account {
  margin-top: 40px;

  .account-summary{
    label::after{
      content: ':';
    }
    span{
      margin-left: 5px;

      &.account-blance::before{
        content: '£';
      }
    }
  }

  .account-transactions{
    .transaction-createdUtc, .transaction-processedUtc{
      padding-left: 30x;
    }
    .Processing{
      color: $colorBlue;
    }
    .Cleared{
      color: $colorGreen;
    }
    .Failed{
      color: $colorCrimson;
    }
  }
}